@charset "utf-8";

// Define defaults for each variable.

@import url("https://fonts.googleapis.com/css2?family=Anton&family=Roboto+Mono:ital,wght@0,400;0,600;1,400;1,600&display=swap");

$base-font-family: "Roboto Mono", serif;
$title-font-family: "Anton", sans-serif;
$base-font-size: 1em !default;
$base-font-weight: 400 !default;
$small-font-size: $base-font-size * 0.875 !default;
$base-line-height: 1.5 !default;

$spacing-unit: 30px !default;

$text-color: #071922 !default;
$background-color: white !default;
$background-contrast-color: #cce6f4 !default;
$brand-color: #ba324f !default;

$grey-color: #828282 !default;
$grey-color-light: lighten($grey-color, 40%) !default;
$grey-color-dark: darken($grey-color, 25%) !default;

$table-text-align: left !default;

$max-page-width: 1000px;

$break-one: 800px;

$break-two: 500px;

$break-three: 400px;

$min-page-width: 300px;

@media (max-width: $break-two) {
  $base-font-size: 75% !important;
}

@mixin break($break-size) {
  @media (max-width: $break-size) {
    @content;
  }
}

@function wrap-content-width($outer-width) {
  @return $outer-width - $spacing-unit * 2;
}

@mixin relative-font-size($ratio) {
  font-size: $base-font-size * $ratio;
}

// Import partials.
@import "minima/base", "minima/layout", "minima/syntax-highlighting",
  "porchcouch/custom-styles";
