---
layout: default
---

{% if page.podcast == 'Porch Couch TV' %}
  {% assign filtered_posts = site.posts | where: "podcast.main", true %}
{% else %}
  {% assign filtered_posts = site.posts | where: "podcast.main", false %}
{% endif %}

<div class="home">
  {% if filtered_posts.size > 0 %}
    {% assign full_pages = filtered_posts.size | divided_by: site.posts_per_page %}
    {% assign remaining_posts = filtered_posts.size | modulo: site.posts_per_page %}
    {% if remaining_posts > 0 %}
      {% assign num_pages = full_pages | plus: 1 %}
    {% else %}
      {% assign num_pages = full_pages %}
    {% endif %}
    <h2 class="post-list-heading" id="episodes">
      {{ page.title | default: "Posts" }}
    </h2>
    <div class="post-list">
      {% if num_pages > 1 %}
      <ul class="post-list-nav">
        <div class="nav-background"></div>
        <li class="post-list-nav-button" id="prev-page">Prev</li>
        {%- for page in (1..num_pages) -%}
          <li class="post-list-nav-button" id="page-{{ page }}">
            {{ page }}
          </li>
        {% endfor %}
        <li class="post-list-nav-button" id="next-page">
          Next
        </li>
      </ul>
      {% endif %}
      {% for page in (1..num_pages) %}
      <div class="episodes-page" id="page-{{page}}">
        {% assign low_bound = page | minus: 1 | times: site.posts_per_page %}
        {% assign max_size = filtered_posts.size | minus: low_bound | at_most: site.posts_per_page %}
        {% assign high_bound = low_bound | plus: max_size | minus: 1 %}
        {% for post in (low_bound..high_bound) %} 
          {% assign curr_post = filtered_posts[post] %}
          {% if curr_post.podcast.main %}
            {%  include pcptv_post.html %}
          {% else %}
            {% include guest_post.html %}
          {% endif %}
        {% endfor %}
      </div>
      {% endfor %}
      {% if num_pages > 1 %}
        <ul class="post-list-nav">
          <div class="nav-background"></div>
          <li class="post-list-nav-button" id="prev-page">Prev</li>
          {%- for page in (1..num_pages) -%}
            <li class="post-list-nav-button" id="page-{{ page }}">
              {{ page }}
            </li>
          {% endfor %}
          <li class="post-list-nav-button" id="next-page">
            Next
          </li>
        </ul>
      {% endif %}
    </div>
  {% endif %}
</div>
